.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.title-container{
  margin:75px 75px 10px;
}

h1{
  font-size: 56px;
}

.calculator-container{
  border: 2px solid black;
  height: auto;
  width: auto;
  padding: 5px;
}

.result-container{
  border: 1px solid red;
  height: 100%;
  width: 197px;
  margin: 8px;
}

#result{
  display: flex;
  flex-direction: row-reverse;
  font-size: 29px;
  padding: 0.5px 2px;
  /* height: 31px; */
}

.reset-container{
  margin-top: -63.7px;
  margin-left: 197px;
  margin-bottom: 2px;
}

#reset-btn{
  font-size: 17px;
  padding: 9px;
 margin-left: -36px;
 border-radius: 7px;
 cursor: pointer;
}

.memory-btn-container{
  margin-right: 89px;
  margin-bottom: 23px; 
}

.memory{
  padding: 9px;
  font-size: 17px;
  margin-left: 4px;
  border-radius: 7px;
  cursor: pointer;
}

#memory-recall{
  margin-right: -31px;
}

.operator-btn-container{
  margin-top: 9px;
  margin-left:164.9px;
  margin-bottom: 17px;
}

.operator{
  display: block;
  padding: 3px 17px; 
  font-size: 17px;
  margin-bottom: 4px;
  border-radius: 7px;
  cursor: pointer;
}

#divide{
  font-size: 18px;  
}

#subtract{
  font-size: 19px;
  font-weight: 80px;
  padding-bottom: 0.001px;
  padding-top: 0.001px;
}

#multiply{
  padding-right: 11px;
  text-align: center;
}

#add{
  padding-right: 13px;
  text-align: center;
}

.operand-decimal-equal-container{
  padding: 3px;
  margin: 55px;
margin-bottom: 9px;
margin-top: -153px;
margin-left: -0.001px;
}

.number{
  font-size: 17px;
  padding: 3px 17px; 
  border-radius: 7px;
  margin-bottom: 4px;
  cursor: pointer;;
}

#zero{
margin-left: -53px;
}

.btn-equal-container{
  margin-top: -44.7px;
  margin-right: -51px;
  margin-bottom: 4px;
}

#equal-btn{
  font-size: 17px;
  padding: 3px 17px; 
  border-radius: 7px;
  cursor: pointer;
}



















